@import "~bootstrap/scss/bootstrap";

body {
  background-color: navy;
}

.card-text {
  height: 10em;
}

.card-img-top {
  height: 18rem;
}

.pcds-arts-walk-logo {
  height: 100px;
  transform: rotate(-10deg);
}

.modal-90w {
  min-width: 90%;
}

.card {
  border-width: 4px;
}

.card-body {
  background-color: goldenrod;
}

.head {
  color: goldenrod;
}

.card-title {
  color: white;
}
